:root {
    --green-default:#65E28C;
    --green-olive:#9FCAD0;

    --blue-default: #407CDE;
    --blue-light: #9AABC6;

    --orange-default: #FFB015;

    --red-default: #F27171;

    --background-default: #E5E5E5;
    --background-search: #F8FAFD;

    --border-card: #EEF4FE;
}
